---
import EmployeeImage from "./Icons/EmployeeImage.astro";
import { TEAM_INFO as employees } from "../data";
---

<div class="container relative py-16 lg:py-24 px-8 lg:px-0">
  <div class="absolute z-[-1] right-[calc(-50vw_+_50%)] top-0 w-screen h-full" />
  <div class="grid md:grid-cols-12">
    <div class="text-xl lg:text-3xl lg:leading-[3rem] md:col-span-10">
      <p>
        <span class="block font-bold">We are based in Bosnia & Herzegovina,</span> a source of young, educated, English speaking, hard working and culturally
        western talent.
      </p>
    </div>
    <div class="pt-[70px] text-xl lg:text-3xl lg:leading-[3rem] md:col-span-10">
      <p>
        <span class="block font-bold">We worry about payroll,</span> administration,
        team-building and culture-fit so you don't have to.
      </p>
    </div>
  </div>

  <div class="__glide glide-team pt-[70px] lg:px-[30px]">
    <div class="__glide__track" data-glide-el="track">
      <div
        class="__glide__slides lg:!grid lg:grid-cols-3 lg:gap-x-[60px] gap-y-6 lg:gap-y-10"
      >
        {
          employees.map((employee) => (
            <a
              class="flex flex-col items-center self-center gap-2 __glide__slide move-down"
              target="_blank"
              href={employee.linkedIn}
            >
              <EmployeeImage
                employeeId={employee.name.toLowerCase()}
                name={employee.full_name}
              />

              <div class="border-t border-primary w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
                <p class="text-lg lg:text-2xl pt-2 lg:pt-5">
                  {employee.full_name}
                </p>
                <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">
                  {employee.position}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  .move-up {
    @apply lg:-mt-14;
  }

  .move-down:nth-child(3n + 2) {
    @apply lg:mt-14;
  }
</style>
